[2014-08-20 03:21] ShimShamSam opened #1 "Align descriptions"
I think it's common to align the descriptions of parameters. For instance:

[code]

Should be

[code]

[2014-08-20 07:52] #1 closed, assigned to nobody

[2014-08-20 14:47] ShimShamSam opened #5 "Use Esprima instead of RegExp for JS functions"
At some point we should switch from RegExp to using [Esprima](http://esprima.org/), which evaluates the code and creates a syntax tree. This will allow us to determine parameter and return types.

[2014-08-22 08:52] #5 closed, assigned to nobody

[2014-08-29 09:21] miqmago opened #8 "Keyboard Shorcut overrides delete line"
I suggest to use for example Ctrl-Shift-D (this is the one I'm using)

[2014-08-29 09:32] #8 closed, assigned to nobody

[2014-09-03 14:19] jbmonroe opened #9 "Hotkey combo for Windows doesn't work in sprint 42 experimental build 0.42.0-13957"
Assuming all I have to do is drop the cursor into the name of the function and hit Ctrl-Alt-D, I'm not getting any response, even after restarting Brackets.  Is this just a problem with the version of Brackets?

[2014-09-03 17:00] #9 closed, assigned to nobody

[2014-09-10 14:38] mackenza opened #10 "can this support properties too?"
I would like to add PHPDoc blocks for my class properties as well as methods.

e.g. in both cases `bar` is a class property and can define a docblock.

[code]

I think the same would apply for JS:

[code]

[2014-09-11 01:38] thefallofbecause opened #11 "Type tag hints do not show when tab forces scrolling"
Not exactly a bug, this falls more into the category of unexpected behaviour.

If you hit Tab to jump to the Type tag on a line that is partially or completely rendered off-screen (thus forcing the document to scroll) the Type hints do not show. This occurs whether there are open panes below the document or whether all panes are closed.

Unsure if there is anything that can be done about this, bas

[2014-10-02 18:00] ldez opened #12 "Add type to hints"
It's possible to add type 'Function' to the context menu ?

[2014-10-04 20:44] #12 closed, assigned to nobody

[2014-10-06 09:47] miqmago opened #13 "Javascript static methods"
Hi again,

I'm not really sure if it's an issue for this project or it's a Brackets issue (sorry in that case, I'll try posting there)...
I've found that Quick Docs (Cmd+K) doesn't work with static methods:

[code]

[2014-10-06 12:04] #13 closed, assigned to nobody

[2014-10-25 14:33] #10 closed, assigned to nobody

[2014-10-30 00:42] ghominejad opened #14 "Lubuntu shortcut"
hotkey problem in linux
/*\* + enter problem

brackets version :  0.45
os : ubuntu

[2014-10-30 08:40] rbtbar opened #15 "Cannot assign 'Ctrl-Alt-D' error"
Hi,

have a look at the following issue, please:

![error](https://cloud.githubusercontent.com/assets/6705643/4840439/c4b0437e-600f-11e4-9da0-b2ab6f34c79f.PNG)

Could you please add your binding if and only if the shortcut isn't already taken?

Best Regards,
rb

[2014-10-30 16:53] ghominejad opened #16 "Hinting doesn't work"
Type Hint (selecting types from dropdown list) doesn't work as your home page picture

[2014-10-31 10:08] #15 closed, assigned to nobody

[2014-10-31 10:27] #16 closed, assigned to nobody

[2014-10-31 10:27] #14 closed, assigned to nobody

[2014-12-30 18:12] kosinaz opened #18 "Doesn't work with line-wrapped function arguments."
Works, but too long:

[code]

Doesn't work:

[code]

[2015-01-01 20:01] kosinaz commented on #18
Works perfectly! Thank you!

[2015-01-01 20:17] Wikunia commented on #18
You're welcome! Btw Happy new year :)

[2015-01-01 20:17] #18 closed

[2015-01-01 20:49] kosinaz commented on #18
Happy New Year! :)

[2015-01-06 11:42] Richard-A opened #21 "Shortcut doesn't work on OS X, can't set shortcut either"
Ctrl-Alt-D doesn't work on a OS X (Tested with OS X 10.7.5), I can't set it to Command-Alt-D either.

[2015-01-06 11:45] Richard-A opened #22 "PhpDoc should be @return, not @returns"
When creating the docs for a PHP function or method, the docs will say something like this:

    /**
     * [[Description]]
     *
     * @returns String [[Description]]
     */
    function foo()
    {
        return "Bar";
    }

The @returns part should be @return (Linking of user is not intended).

On a note, it should be *string*, not *String*

[2015-01-06 12:06] qyouqme commented on #11
I have the same issue.Codes hints never popup.I love your tool,but I love other tools too.Would you please solve this bug?

[2015-01-06 12:24] Wikunia commented on #22
Hi @Richard-A,

where did you look up the "spelling" of the datatypes? I always find the uppercase version.

[2015-01-06 13:21] Wikunia commented on #11
Unfortunately I have no idea why this happens :/ But I will have a look at the weekend again.

[2015-01-06 13:46] Wikunia commented on #21
Do you have errors in the debug log? (F12, Debug->Show Developer Tools)

[2015-01-06 14:50] Richard-A commented on #22
From the php docs:

All primitive types are lower case.
http://php.net/manual/en/language.types.string.php

[2015-01-06 15:08] Wikunia commented on #22
Ah okay thanks @Richard-A I will push a new version later this day. Stay tuned!

[2015-01-06 16:55] #22 closed

[2015-01-06 17:20] Wikunia commented on #11
One way would be to have the current selection always in the center of the editor that works but don't know if you like it @thefallofbecause @qyouqme

[2015-01-06 17:27] #11 closed

[2015-01-07 15:08] qyouqme opened #23 "Conflict with other language syntax hint extensions?"
Hi man,your extension works fine.But my other language syntax hint extensions all stop.eg:brackets-wp-functions-hint,brackets-php-syntax-hint.I want to work with them together...
I tested,without your extension,they work fine.

[2015-01-07 15:17] Wikunia commented on #23
Can you send me your debug log?
I'll have some errors with `brackets-php-syntax-hint` but I could resolve them inside `brackets-php-syntax-hint` and not inside `FuncDocr`

[2015-01-07 15:31] qyouqme commented on #23
Ok tomorrow send to you. It's midnight now. I have on bed. Thank you for reply.

发自我的小米手机

Ole Kröger <notifications@github.com>编写：

[2015-01-08 08:12] Wikunia commented on #23
你好！
When does this happen? So after using special keys or after using FuncDocr ones or...

[2015-01-08 08:18] qyouqme commented on #23
Just open Brackets,this happen.With FuncDocr ,have these errors.Without FuncDocr,have less errors.

[2015-01-08 12:14] Wikunia commented on #23
谢谢！
one more question: you wrote the extensions doesn't work so you mean they have no function at all or are there only some functions that doesn't work?
我今天看！(or how would you say: I will have a look later today? Just started learing Chinese 2 month ago ;) )

[2015-01-08 12:26] qyouqme commented on #23
Your extension is useful.It can work fine alone.It just can't work with some other extensions together.Good work,man!

" I will have a look later today?" in Chinese is "我今天晚些时候会看一下？".

[2015-01-08 12:28] Wikunia commented on #23
Way to long (Chinese) :D
I resolved the problem inside the brackets wp hint extension and it's the same in the brackets php syntax hint extension which unfortunately has no repository but you can change the same thing or I can send you the changed code :)

Have a nice day!

[2015-01-08 12:28] #23 closed

[2015-01-08 12:36] qyouqme commented on #23
I just know a little html,css,js and php.So please send the changed code to me.Thank you very much.

[2015-01-08 12:40] Wikunia commented on #23
You have a new mail!

[2015-01-13 20:44] mitchhentges opened #24 "Show "Annotate" option in Edit menu"
I couldn't tell how to annotate until I looked at the Github page. This extension could be made even easier to use if there was a option in the Edit menu with the shortcut key shown.

Mockup:
![menuoption](https://cloud.githubusercontent.com/assets/7784737/5728787/0f183ca8-9b22-11e4-8e46-81ac4761c470.png)

[2015-01-13 20:47] Wikunia commented on #24
Hi @mitchhentges,
thanks, at the moment there is only a `FuncDocr Settings` entry in the File menu where you can change the shortcut but I will try to implement this as well.

[2015-01-13 20:50] mitchhentges opened #25 "Move "FuncDocr Settings" to View menu"
"FuncDocr Settings" somewhat works, in a UX sense, when in the "File" menu. However, it decreases usability, as some users assume that the exit button will be at the bottom of the File menu.

When clicking at the bottom menu entry opens up a settings dialog instead of closing the program, a bad experience is created.

Meanwhile, if the FuncDocr Settings was:
- Further up the "Files" menu list, or

[2015-01-13 20:54] Wikunia commented on #25
My current File menu looks like this:
![brackets-funcdocr-menu](https://cloud.githubusercontent.com/assets/4931746/5728932/91d83df4-9b6e-11e4-9597-6492d122a7b0.png)
But actually your text makes sense so I will have a look how to change it :)

[2015-01-13 20:54] mitchhentges commented on #25
As an aside, this extension is great :)
Thanks for the great tool!

[2015-01-13 20:55] Wikunia commented on #25
You're welcome :)

[2015-01-13 21:12] mitchhentges opened #26 "Assume [param=true] more often"
When a parameter is set to
[code]
FuncDocr recognizes it as a default parameter and enters
`@param   {Boolean}   [param=true]`
accordingly.

However, when I do the following (which is shorter)
[code]
FuncDocr just puts out:
`@param   {[[Type]]} noSelection`

__TL;DR__ Recognize `param = (typeof param === 'undefined') || param;` as a default boolean parameter

[2015-01-13 21:13] Wikunia commented on #26
I will add your method as well, didn't know that one :D

[2015-01-14 14:07] #26 closed

[2015-01-14 20:46] #24 closed

[2015-01-14 20:46] #25 closed

[2015-01-21 11:57] ficristo opened #27 "Setting for auto indent"
I would like to have a setting to disable the auto indent.

[2015-01-21 12:03] ficristo opened #28 "Use callback for the types"
If I have defined a @callback comment I would like to have it too in the list of the types.

[2015-01-21 12:48] Wikunia commented on #28
@ficristo do you want to have a `callback` as a parameter type? So sth like
[code]

[2015-01-21 12:49] Wikunia commented on #27
I'll work on that at the weekend!

[2015-01-21 13:22] ficristo commented on #28
Let's say I have a doc comment in the file for my callback type as follow:
[code]
It would be nice that when I go to change the types
[code]
the plugin will give me the option MyObj~myCb too. So in the list I'll see:
Number,
String,
...
Function,
MyObj~myCb

[2015-01-21 13:46] Wikunia commented on #28
ah okay you would like to have the callback function as a type. Sounds interesting :) Never thought about it, but I think it can improve the documentation so I will have a look!

[2015-01-22 12:50] Wikunia commented on #27
I hope you meant this autoindent feature. It should work now :)
Maybe you would like to check it and just say whether it works.

[2015-01-22 19:41] ficristo commented on #27
I tried a bit the new version: but if I see the new setting, it doesn't seems to work.
To clarify: when I press the tab button to move between the various tag [[Description]], {[[Type]]} to update them, I don't want the text to be vertically aligned.

[2015-01-22 19:57] mitorez opened #29 "Error "Cannot assign..." in Brackets console"
I'm seeing the following error in my Brackets console: "Cannot assign Ctrl-Alt-D to funcdocr. It is already assigned to funcdocr"

Windows 7 Enterprise SP1 64-bit
Brackets Release 1.1 build 1.1.0-15558
FuncDoor 0.8.2

[2015-01-22 20:33] Wikunia commented on #27
Oh I thought about the enter function which indents when you have a multi line description for params or returns.
Is there an error with indentation or do you simply don't like indentation?

[2015-01-22 20:33] Wikunia commented on #27
Oh I thought about the enter function which indents when you have a multi line description for params or returns.
Is there an error with indentation or do you simply don't like indentation?

[2015-01-22 20:56] ficristo commented on #27
I like the indentation per se, but most files I work with do not have the doc comments aligned and for the moment I don't want to change them.

[2015-01-23 09:09] Wikunia commented on #27
Well the question is whether anyone else profits from the setting. You can indent a function automatically using the shortcut but maybe you have a lot of functions... The question is it worth it to add a setting for disabling indentation or a button to autoindent all functions?

[2015-01-23 20:31] Wikunia commented on #29
I have this issue as well but don't know why this "error" occurs. I'll try to check it at the weekend!

[2015-01-23 21:13] #29 closed

[2015-01-23 21:14] Wikunia commented on #29
You can download it using `Install from Url`. There will be an update at the weekend with an option for #27

[2015-01-24 12:07] Wikunia commented on #27
Maybe you would like to check the new version ;) `Install from Url`

[2015-01-24 12:07] #27 closed

[2015-01-24 12:08] Wikunia commented on #21
@Richard-A any news?

[2015-01-24 13:05] Wikunia commented on #28
@ficristo it would be nice when you can download the newest version (v0.8.4 from Url) and test it!
Have a nice weekend!

[2015-01-24 13:05] #28 closed

[2015-01-24 18:16] apla commented on #21
just fixed it #30

[2015-01-24 18:35] apla opened #31 "not working for some files"
sometimes getFunctionCodeTypes returns `false` at `main.js:225`:

[code]

then, `false.code === undefined` at `main.js:235`:

[code]

`undefined.substr` => `Uncaught TypeError: Cannot read property 'substr' of undefined` at `main.js:1204`:

[code]

[2015-01-24 18:49] Wikunia commented on #31
I hope this one works!
Can you send me snippets of the functions where codeTypes doesn't work? Thanks for the issue!

[2015-01-24 18:53] apla commented on #31
seems works with this patch. you can check my gist:

https://gist.github.com/apla/9423c173c97c3c350690

[2015-01-24 19:02] Wikunia commented on #31
Thanks again there was a bug with two single line comments back-to-back cause I used a `2` instead of an `1` :D

[2015-01-24 19:02] #31 closed

[2015-01-24 19:22] #21 closed

[2015-01-25 16:38] ficristo commented on #27
Thanks for both features!

[2015-01-26 09:54] glepretre opened #32 "FuncDocr preferences always show up at Brackets startup"
Hi,

I have recently installed your plugin and noticed a strange behavior:

The FuncDocr preferences modal always pop-up when I launch Brackets. Am I the only one?

I'm running Brackets latest stable (build 1.1.0-15558) on Linux Mint Debian Edition. I had this behavior since FuncDocr v0.8.3 and still have it with v0.8.4.

Please tell me if you need more info about to reproduce it or if I can help

[2015-01-26 09:57] Wikunia commented on #32
I am pretty sure that one extension uses the same Shortcut (`Ctrl-Alt-D`) so you need to change it in the settings menu. Sorry for the strange behaviour. I should definitely change the menu... Adding a text and maybe allow a no shortcut option. Thanks for the issue!

[2015-01-26 10:15] glepretre commented on #32
Thanks for the quick reply!

I'm using [Brackets keyremapper](https://bitbucket.org/sacah/brackets-key-remapper) to manage my shortcuts and I don't see any conflict in my `brackets.json` preferences file (all assigned shortcuts, custom or not, are printed there).

However, I disabled the FuncDocr `Ctrl-Alt-D` and it fixes the issue.

I have a gnome keybinding on `Ctrl-Alt-D` but I don't see how it

[2015-01-26 10:20] Wikunia commented on #32
Can you check the DevTools (F12)? Are there any bugs? And the key binding should be here https://github.com/Wikunia/brackets-FuncDocr/blob/master/main.js#L1505 Maybe you can debug a bit, so look what's inside existingKeybindings

[2015-01-26 10:39] glepretre commented on #32
Nothing relevant in the DevTools...

![selection_002](https://cloud.githubusercontent.com/assets/5930831/5898449/e0f031a4-a54f-11e4-8e0c-68d2964daf47.png)

[2015-01-26 10:43] Wikunia commented on #32
And the settings menu appears? That is strange because I check if `Ctrl-Alt-D` is inside the existingKeyBindings and it looks like it's inside it but it shouldn't... give me a second! I have an idea which is strange but maybe helps :)

[2015-01-26 10:48] glepretre commented on #32
Disabling the keyremapper extension also fixes the bug.

Here's what I have in `brackets.json`:

    "funcdocr.shortcut": "Ctrl-Alt-D",
    "funcdocr.shortcutMac": "Ctrl-Alt-D",
    "funcdocr.autoindent_enter": true,
    "funcdocr.autoindent_tab": true,
    "sacah.keyremapper.loadremapperdialog.keymap": {
        "funcdocr": {
            "commandID": "funcdocr",
            "key": "Ctrl-Alt-D"

[2015-01-26 10:51] Wikunia commented on #32
Can you try install from Url? Hope that one helps (kind of untested :D )

[2015-01-26 11:01] glepretre commented on #32
Sure! Which URL should I paste? :smile:

(If it doesn't work, I will apply the same diff :wink: to test it)

[2015-01-26 11:02] Wikunia commented on #32
It's inside the `master` branch because different branches aren't supoorted by `Install from Url` , I believe. => https://github.com/Wikunia/brackets-FuncDocr
Thanks!

[2015-01-26 11:08] glepretre commented on #32
Installing from URL works perfectly!

Your commit seems to fix the bug.

I no longer have these two lines in `brackets.json`:

     "funcdocr.shortcut": "Ctrl-Alt-D",
     "funcdocr.shortcutMac": "Ctrl-Alt-D",

[2015-01-26 11:11] Wikunia commented on #32
![brackets-funcdocr- 32](https://cloud.githubusercontent.com/assets/4931746/5898885/653a9356-a554-11e4-9cbc-13f8a04830e5.png)
Do you have this in your edit menu? And the shortcut works normally?

[2015-01-26 12:00] glepretre commented on #32
No, I don't have the 'annotate' menu item.
And the shortcut doesn't seem to work... :disappointed:

[2015-01-26 12:03] Wikunia commented on #32
Okay I understand that you don't have a menu item but I hoped that the shortcut works based on your other extension... Can you try this test as well? :)

[2015-01-26 12:11] glepretre commented on #32
Oh sorry, I thought it was the sortcut to open the FuncDocr !! Yes, it works to annotate functions.

[2015-01-26 12:15] Wikunia commented on #32
Okay, does the second test works with showing the MenuItem in the Edit menu?

[2015-01-26 12:18] glepretre commented on #32
Yes, I do have it!

[2015-01-26 12:21] Wikunia commented on #32
Sound like everything works now :)
Thanks for the issue and have fun with FUNcDocr :)

[2015-01-26 12:21] #32 closed

[2015-01-26 15:27] mitorez commented on #29
Thanks for the quick turnaround - issue resolved :)

[2015-02-18 23:29] zaggino opened #33 "add support for es6 classes"
i'm working with es6 and classes look like this:
[code]
would it be possible to get a support for these? thanks
link: https://babeljs.io/docs/learn-es6/#classes

[2015-02-19 08:39] Wikunia commented on #33
So you would like to have sth. like this:
[code]
right?
I have to think about how to check whether the next line is a function declaration without the word `function`. But well JS/ECMAscript never uses sth like `string (...) {` anywhere else, right?

[2015-02-19 09:49] zaggino commented on #33
That's right, I think you can safely check for `string (...) {`

[2015-02-19 10:52] Wikunia commented on #33
You can download the newest version from url. the `[[Link]]` type doesn't work for ES 6 at the moment cause I use a brackets function to get all functions in the current document and that doesn't support ES 6 at the moment. But I think that feature isn't sooo important.

[2015-02-19 23:15] zaggino commented on #33
Thanks, works for me ;) I'll let you know if I'll encounter any more problems.

[2015-02-20 07:24] tushariscoolster opened #34 "ui to change default.json"
want ui to change default properties

[2015-02-23 09:02] frsechet opened #35 "Cannot get it to make the doc neither with shortcut nor natural way"
Hi,

I just installed the extension (Version 1.1.0-15558 on Mac/Yosemite), but cannot get it to work on any file, any function (php of course though), no matter whether it's a method in a class or just a plain function.

Neither "/** + Enter" nor the shortcut (I tried to replace it with another custom one since the original couldn't work) will work. The shortcut doesn't do anything and "/** + Ente

[2015-02-23 10:06] Wikunia commented on #35
Hi,

can you send me your php file (a part of it)?
And are there any los in the dev tools? (F12 in Brackets)

Thanks!

[2015-02-23 10:48] Wikunia commented on #35
That was hopefully the bug ;)
Maybe you would like to install this version from URL and then I can register it.
Thanks for the issue!

[2015-02-23 10:52] frsechet commented on #35
Yep, that fixed it for regular functions! Didn't work for methods though, but I'm not sure this extension is supposed to work on methods?

[2015-02-23 12:31] Wikunia commented on #35
Can you send me an example? You mean simple functions/methods inside a class?

[2015-02-23 12:33] frsechet commented on #35
Stuff like that for example (Laravel generic file):

<?php namespace App\Http\Controllers;

use App\Http\Requests;
use App\Http\Controllers\Controller;

use Illuminate\Http\Request;

class PagesController extends Controller {

	public function about()
	{
		return view('pages.about');
	}

	public function contact()
	{
		return view('pages.contact');
	}

}

[2015-02-23 12:47] Wikunia commented on #35
Hope that one helps :)

[2015-02-23 13:20] frsechet commented on #35
Fantastic! Thanks a lot :-)

[2015-02-23 13:21] #35 closed

[2015-02-24 16:59] Wikunia commented on #34
Do you think that it's important? Do you have to change these things often?

[2015-02-24 16:59] #33 closed

[2015-02-24 17:01] tushariscoolster commented on #34
Not often...but that's a core of your plugin which should be customisable

[2015-02-24 17:07] Wikunia commented on #34
I don't think that it's a core :D but yeah I think about it.
Thanks for the feature request ;)

[2015-02-24 17:08] tushariscoolster commented on #34
Thanks man

[2015-02-24 17:11] Wikunia commented on #34
Reopened it as a reminder :)

[2015-02-26 12:53] OttoRobba opened #36 "Creating new documentation doesn't work on 0.8.8"
Typing in /** and hitting enter or using the shortcut Ctrl+Alt+D no longer creates the jsdoc block.

1. Create a function

    var stuff = function(string) {};

2. Write /** on the line above it
3. Hit enter

[2015-02-26 13:40] Wikunia commented on #36
Thanks for the issue. I forgot this way of generating a function, it worked some day cause my regex was a bit more flexible than now. I will implement this soon. Stay tuned!

[2015-03-04 11:20] angeldevz commented on #36
still not working and my plugin is updated (0.8.9) :(

[2015-03-04 11:21] Wikunia commented on #36
For the same type of function? :/

[2015-03-04 12:19] angeldevz commented on #36
Ahh.. sorry, no..

With this kind of function
`Stuff.getThingsDone = function() {}`

It was working before on that kind of function.

[2015-03-04 12:25] Wikunia commented on #36
Can you try using `Install from Url`? Sorry again!

[2015-03-04 14:59] angeldevz commented on #36
Cool! Working now! Thanks!  :+1: :smile:

[2015-03-04 15:00] Wikunia commented on #36
Thanks for the issue!

[2015-03-04 15:00] #36 closed

[2015-03-05 07:23] fmaida opened #37 "FuncDocr doesn't work if the function is inside an object collection"
Thanks for your wonderful extension. I'm using FuncDocr 0.8.10 on Brackets 1.2 under Mac OS X 10.10.2
To make an example, If I write this piece of code:

[code]

When I try to document the function sayName it doesn't work. I put the cursor over "sayName: function(foo, bar)" and I write "/**" and press enter but nothing happens.

Thank you again and best regards

[2015-03-05 07:25] Wikunia commented on #37
Ah shit I shouldn't have change the regex. :D thanks for your issue. I will implement this soon :)
Stay tuned!

[2015-03-05 07:27] fmaida commented on #37
Thank you very much :-)

[2015-03-05 09:27] Wikunia commented on #37
Can you please install the new version from Url first? And say if everything works as expected?
Thanks!

[2015-03-06 17:53] dapullar opened #38 "Function prototypes"
Is it possible to add the ability to use FuncDocr with object prototype functions? Currently will either duplicate the line above, or no action is performed.

Example:
[code]

Another common case that doesn't work is when you are declaring functions preceding with `this`.

Example:
[code]

[2015-03-06 17:57] Wikunia commented on #38
Hi,

can you please try version 0.8.12 (Install from Url)
Thanks for the issue! Have a nice day.

[2015-03-06 18:01] dapullar commented on #38
Ahh, beauty, works like a charm, thanks you

[2015-03-06 18:01] #38 closed

[2015-03-06 18:03] #37 closed

[2015-03-06 18:05] Wikunia commented on #38
You're welcome. At the moment I can't register the newest version using https://brackets-registry.aboutweb.com (cause I'm getting a bad request feedback :( ) I will try it again in some hours.

[2015-03-06 20:37] fmaida commented on #37
Thanks. I downloaded and tried the zipped master and now it's working properly; I didn't had enough time to test it extensively but so far it has worked in each test I made.

[2015-03-10 02:01] cbaldwinweb opened #39 "Freezing Brackets"
When I try writing `/**` then pressing enter the entire Brackets freezes I have to end the task. What is up with that issue guys?

[2015-03-10 07:05] Wikunia commented on #39
Hey,
I am sorry :/ is the file big or do you have the problem with every file?

[2015-03-10 16:21] cbaldwinweb commented on #39
Every single file. Even just a starter file to try this out it does it. Very strange and I like the easy inline documentation.

[2015-03-10 16:25] Wikunia commented on #39
Can you please follow these steps to find the cause of that problem.
1. Open the extension folder (`Help->Show Extensions Folder`)
2. `Ctrl-X` every extension (not FuncDocr) inside user into disabled
3. Reload brackets
4. Try it again

Thanks!

[2015-03-10 18:06] cbaldwinweb commented on #22
Data types are usually always recognized as first letter capital when commenting. All other methods such as keywords as lowercase but especially in js `new String` not `string ` that is there correct method in my eyes and I'll always use it.

[2015-03-11 08:54] Wikunia commented on #39
Anything new? Maybe you have some debug logs.

[2015-03-16 21:06] cbaldwinweb commented on #39
I will try this now I've been away for a while now.

[2015-03-16 21:16] cbaldwinweb commented on #39
It works now, I deleted Themes for Brackets and Quotes or something like that. Anyways it's working, anyways, I'll add the mixed data types to my forked version and push it again.

[2015-03-16 21:16] #39 closed

[2015-03-16 21:19] Wikunia commented on #39
Can you specify the extension exactly? And does the extension in=tself causes the problem or only in combination with FuncDocr?

[2015-03-16 21:21] cbaldwinweb commented on #39
Yes I will try to pinpoint the exact conflict Wikunia

[2015-03-16 21:27] cbaldwinweb commented on #39
It's either of these two

https://github.com/chuyik/brackets-snippets

or

https://github.com/caseyg1204/brackets-quoter

Not 100% sure because now that FuncDocr was loaded first it's not giving a problem. No freezing, I'll try and find the freezing issue again, hard to replicate it.

[2015-03-18 15:17] Willjobs94 opened #44 "Add @lastmodifiedBy @createDate please"
I'm new using brackets, and I've installed funcDor cause I really love to document all of my work.
I don't know if this function really exist, but i would like to have those options.

Thanks for reading.
Feedback make us grow :)

[2015-03-18 15:36] Wikunia commented on #44
Haha always new ideas in your head? :)

[2015-03-18 15:38] Willjobs94 commented on #44
jejejej as a mater of fact yes!!

[2015-03-18 15:40] Willjobs94 commented on #44
So what should i do ?
Open my .json and add those lines ?
Thanks for feedback

[2015-03-18 15:42] Wikunia commented on #44
It's really easy to add new things like this using the `definitions` folder. If you think that some changes are only interesting for you, you can add yours there. Otherwise you can make a PR. I'm thinking about an option to add new stuff easily and store it safely cause at the moment every update of the extension will destroy (reset) the `definitions` file.
I changed the files to support your opti

[2015-03-19 15:45] Willjobs94 commented on #44
So, excuse me again for my litter experience in the field, but if I've already have the extension installed,
Do I need to remove it and installing again, or just wait until an available update.

Thanks for feedback, and sorry for my English.

[2015-03-19 15:56] Wikunia commented on #44
Hi no problem :)
There are several options to install/update an extension in Brackets.

You can download the zip archive on github and extract it inside the extension folder (worst way ever :D)
You can open the extension manager and use `Install from Url` on the bottom left (using the github url) That's the best way at the moment cause I didn't register this newest version yet, cause I think I can

[2015-03-19 16:05] Willjobs94 commented on #44
OK so for the moment I'll edit the definitions file, I will also try to help you if you allow me, even as a newbie I'm very curious and fast learning.

:+1:  :D

[2015-03-19 16:08] Wikunia commented on #44
Sure! If you have any ideas => make an issue and maybe a PR :)
I'm thinking about making the definitions file as a preference so it can be changed and won't change back after an update. Maybe on the `@lastmodifiedBy [[name]]` it should be possible to define hints for `name` and `@lastmodifiedDate [[date]]` should have a timestamp as a hint.

[2015-03-19 16:31] Willjobs94 commented on #44
Wow ! I was thinking the same by now ! and also in author add an email hint, and also when you click enter not only put an ' * ' but also ' @ ' whit the corresponding space between them in order to automatic appear the hint of all  " at options" .
I don't know so much about working with github, but I will start working with you I hope you help me to know this environment, I will also keep study by

[2015-03-19 17:32] Wikunia commented on #44
I think the adding an extra `@` in the line isn't always the best ;) When you write a multiline Description you don't want the `@` at the beginning.

Well to learn GitHub you might want to use your `test` repo and use `branches`. Then you can fork my project and work on it. The I think easiest way is to delete the extension go into the extension folder and clone the fork there. Then you can make c

[2015-03-19 17:50] Willjobs94 commented on #44
Ok, thanks, and you're right about the multipleline Description, also it would be nice if in the preferences pane we can have both option.

[2015-03-23 18:25] #44 closed

[2015-03-24 21:58] zaggino opened #45 "Uncaught TypeError: Cannot read property '0' of undefined"
version: 0.8.13
at /Users/zaggino/Library/Application%20Support/Brackets/extensions/user/funcdocr/main.js:793

![image](https://cloud.githubusercontent.com/assets/1067319/6813824/eb3c4eae-d2cc-11e4-8929-b843b6542d15.png)

[2015-03-24 22:04] Wikunia commented on #45
Looks like a bug cause of the unknown language...
Can you send me the part of the file where this error appears and the file extension?

[2015-03-24 22:18] zaggino commented on #45
I have no idea which file I had open, doesn't the extension work for only certain languages?

[2015-03-24 22:21] Wikunia commented on #45
Can you please install from URL and try it again? Thanks for the issue. I hope it works now ;)

[2015-03-24 22:21] #45 closed

[2015-03-26 15:24] vazyvite opened #46 "FuncDocr doesn't work if the function is inside an object collection"
Hi
I reopen the issue #37 for the new version 0.8.13.

The documentation isn't generated after /** + Enter.
But if the documentation is already generated, FuncDocr works.

[2015-03-26 15:27] Wikunia commented on #46
Sorry @vazyvite,
i've changed some regex stuff which was maybe not the best idea. I will have a look later today. Stay tuned and thanks for the issue!

[2015-03-26 16:44] Wikunia commented on #46
I've tested it and it works with the example given by #37
Are there any errors in the console?

[2015-03-27 09:32] vazyvite commented on #46
Sorry, it's not the same issue as #37...

I declared some functions by this way :
var test = function (chose) {
	// instructions
},
truc = function (hop) {
	// instructions
};

FuncDocr works well for the first function but not for the followings :
/**
 * [[Description]]
 * @param {[[Type]]} chose [[Description]]
 */
var test = function (chose) {
	// instructions
},
/**
truc = function (hop) {
	//

[2015-03-31 11:02] Hirse opened #47 "Functions get squished if there are multiline comments in between."
I have copied some function from another (poorly documented) source and had code that looked like this:
[code]
When I now use the `Ctrl`+`Alt`+`D` hotkey to add / reformat the JsDoc for function c, the first function and the multiline comment are simply deleted and the extension behaves like the first JsDoc belongs to the second function:
[code]

[2015-03-31 12:02] Wikunia commented on #47
Ah it's because the second docblock starts with `/*` instead of `/**`.
Thanks for the issue I will have a deeper look!

[2015-03-31 12:05] Wikunia commented on #47
A deep look later :D Can you install from URL please and test this version. Hope there are no bugs now!

[2015-03-31 14:10] Hirse commented on #47
Yes, works fine.
Thanks for the quick fix.

[2015-03-31 14:10] #47 closed

[2015-03-31 14:15] Wikunia commented on #47
Well thanks for the issue :)

[2015-03-31 14:16] Hirse opened #48 "Reformat JsDoc in one operation"
When I add a JsDoc on a function that has already a malformed or incomplete documentation, the existing one is transformed into the new format. This looks to be one step.
But when I decide to revert that change and use undo, I have to undo twice, because there are two steps pushed on the undo stack:
 1. Remove all comments
 2. Add the new JsDoc (containing the old parts)

I think it would be more

[2015-03-31 14:18] Wikunia commented on #48
I am using brackets functions for it and I am not sure if it's easily or even possible but I'll have a look later! Have to work on another Brackets extension that I want to release :D

[2015-03-31 14:26] Hirse commented on #48
In the Brackets API there is `[batchOperation](http://brackets.io/docs/current/modules/document/Document.html#Document-batchOperation)`.
Maybe that could work for you.

[2015-03-31 14:27] Wikunia commented on #48
There is always something new :) Thanks!

[2015-03-31 15:32] Wikunia commented on #48
Try it out! Again `Install from Url` :)

[2015-03-31 15:32] #48 closed

[2015-04-02 12:51] brazenskies opened #49 "No support for jsx files"
Hi,

With React becoming more and more popular it would be great if you could add support for jsx files. This is a very useful plugin, but unfortunately I can't use it due to this reason

[2015-04-02 12:54] Wikunia commented on #49
Can you send me some example files and functions?
And do you want to have special things in it? There are special things like `this.props` inside ReactJS and I am supporting in in React javascript files but don't know where jsx is different.

[2015-04-02 13:17] brazenskies commented on #49
Thanks for the quick response.

Here are steps to recreate the issue I was experiencing...

1.  Open a .js file in Brackets
2.  Create a function
3.  Above that function type '/** + Enter'
4.  Note that the FuncDocr extension kicks in and I can create docs
5.  Now open a react .jsx file
6.  Create a function
7.  Above that function type '/** + Enter'

Expected outcome:  I'd expect the extension to

[2015-04-02 13:26] Wikunia commented on #49
Can you install the newest version from Url? And test it? Thanks for the issue!

[2015-04-02 13:34] brazenskies commented on #49
Perfect, thanks for the quick fix, should make my life much easier now :)

[2015-04-02 13:36] Wikunia commented on #49
If you like to have any special react features just say a word ;)

[2015-04-02 13:36] #49 closed

[2015-04-02 13:40] brazenskies commented on #49
will do, thanks.

(you left in a console log :))

[2015-04-02 13:44] Wikunia commented on #49
Shit just registered the new version

[2015-04-02 14:46] glepretre commented on #49
@Wikunia Should we apply the update or there is a problem with it?

[2015-04-02 14:49] Wikunia commented on #49
I've registered the new version without console log v0.8.18 it should work or do you have a problem with that version?

[2015-04-02 15:12] glepretre commented on #49
@Wikunia No, I have not updated yet :smiley: I have seen your comment (received by mail) so I just came here to ask if we should wait before applying the update (in case of unwanted breaking change) :wink:.

[2015-04-04 11:13] sandcastle opened #50 "New line not recognised from header"
When pressing enter from the header it does not recognise it as a new line and automatically create a `*` for the line.

Before (cursor is at the end of the comment header):

![cursor_on_header](https://cloud.githubusercontent.com/assets/668657/6992400/5774831e-dafe-11e4-8dcd-b34d183c7ab9.png)

After (enter is pressed):

![bad_line](https://cloud.githubusercontent.com/assets/668657/6992404/9d52d99

[2015-04-04 15:57] Wikunia commented on #50
Thanks for the issue! Can you try this one please (Install from URL) Happy Easter

[2015-04-05 10:54] pbojan commented on #46
What about functions in classes with namespaces? It seems it doesn't work currently.

**Example:**
[code]

[2015-04-05 12:30] sandcastle commented on #50
Thanks, that did the trick :smiley:

[2015-04-05 12:36] #50 closed

[2015-04-05 15:15] Wikunia commented on #46
@pbojan can you try this version, please :) (Install from URL)

[2015-04-13 20:22] IamAdamJowett opened #51 "Preferences for FuncDocr always showing"
Love the extension except the Preferences modal is showing each and every time I start up brackets which is starting to get a little annoying. It seems to save the preferences to the preference file ok, so not sure why it shows on startup each time.

![image](https://cloud.githubusercontent.com/assets/294948/7124680/4fef13e4-e26e-11e4-9eec-8ed3c3cbfa33.png)

[2015-04-13 20:39] IamAdamJowett commented on #51
Ok after looking through the code, I can see it is showing due to there being a conflict with the keyboard shortcut with another extension (Grunt for Brackets) which also tries to use Ctrl-Alt-D. Makes sense to show it, but perhaps it needs specific modal messaging to let the user know why it is showing in this case.

[2015-04-13 21:41] Wikunia commented on #51
Ah okay and thanks for the idea!

[2015-04-30 20:50] #46 closed

[2015-04-30 21:03] Wikunia commented on #51
![brackets-funcdocr-menu-reminder 51](https://cloud.githubusercontent.com/assets/4931746/7422407/f2c5376c-ef8c-11e4-8f15-22db7bf10fdd.png)
I am so sorry! I've kind of forgotten this issue. Do you thing this message would be okay? I know it isn't the best (I am definitely not a designer :D) but I hope it's "okay" ;) Have a nice weekend @IamAdamJowett

[2015-04-30 23:35] IamAdamJowett commented on #51
All good @Wikunia thanks for all the work. A simple "This shortcut is already in use, please choose another" will do the trick for sure.

[2015-05-01 12:20] #51 closed

[2015-05-04 15:30] ndugger opened #52 "ES6 class/method support"
It would be fantastic to have ES6 support for class method delcarations;

    class Foo {
        /** jsdocs here... */
        bar() {

        }
    }

[2015-05-04 16:59] Wikunia commented on #52
Hi,

a function is some text the parameter brackets and the curly one or what is the best way to check whether the next line contains a function definition? I will try to implement it as soon as possible ;)

Have a nice day and thanks for the issue!

[2015-05-04 20:45] Wikunia commented on #52
I ask because it should actually work already.
The given example has no parameters so if you want to comment this appears:
[code]
Maybe there is another bug? Do you have any console logs?

[2015-05-07 12:02] #52 closed

[2015-05-07 12:05] Wikunia commented on #34
Unfortunately I don't have much time and I don't know which is the best idea to implement this into a UI. Do you have an idea? You want to change things like
[code]

[2015-05-07 20:49] tushariscoolster commented on #34
I realized default json change not needed

[2015-05-07 20:49] #34 closed

[2015-05-13 10:31] cristidraghici opened #53 "PHP array()"
The following line does not generate anything

[code]
until changed to:

[code]
which is not valid php syntax.

[2015-05-13 13:09] Wikunia commented on #53
Can you please install via url and test v0.8.21? Thanks in advance

[2015-05-13 13:22] cristidraghici commented on #53
Thank you for the quick reply. I have just tested it and works correctly. Thanks again!

[2015-05-13 13:24] Wikunia commented on #53
I'll make some more tests today and tomorrow and will register the new version afterwards.

[2015-05-13 13:24] #53 closed

[2015-05-20 13:23] adricorse opened #54 "Function with default parameters (PHP)"
Hello,
try to add a default parameters in your function, I have this resullt :

[code]
So, if I change Type or Description in phpdoc  for this variable and I use shortcut to add phpdoc in this method, my  changes are removed.
This bug appear only with default parameters.

[2015-05-20 17:06] Wikunia commented on #54
Can you show me the code snippet before and after the bug? I can't reconstruct this bug. Thanks!

[2015-05-20 17:46] adricorse commented on #54
I have Ubuntu 15.04and all update, the latest version of Brackets, to reconstruct this bug, check this example :
[code]
Now, use the shortcut to make a phpdoc for this function (Linux : CTRL + ALT + D)
[code]

Now, you replace "[[Type]]" by anything (integer, float, string, etc .. )
[code]
and place the cursor on the function and use again the shortcut (CTRL + ALT +D for me), this cancels what you

[2015-05-20 18:42] Wikunia commented on #54
Thanks for the issue! I hope this one fixes it. Please install from url. I'll register it, if everything works properly.

[2015-05-20 19:04] adricorse commented on #54
It works! Thanks again ! :)

[2015-05-20 19:05] #54 closed

[2015-05-22 12:56] adricorse opened #55 "Comments -> full doc"
Hello,
Better than words, check this GIF :
![fixme](https://cloud.githubusercontent.com/assets/6782202/7770836/a9fd382e-0092-11e5-80b2-3d8bc21db1de.gif)

If you add "/\*" before a function, you have the full doc but you have the same reaction if "/\*" is before more one line.
Thanks ! :)

[2015-05-22 13:09] Wikunia commented on #55
Do you think it would be better to provide the docs only directly before the function declaration.

[2015-05-22 13:23] adricorse commented on #55
I think yes, if you want add comment anything before the function (as in the example above), your line of comments is removed.

[2015-05-22 14:19] adricorse opened #56 "Comments in a function"
Hello (again ;) ),
when you are in function, you can't use "/\*" to write a comment IF there is another function (defined or not by phpdoc) AND below it AND the comment is before a function, check it :
![oops](https://cloud.githubusercontent.com/assets/6782202/7772399/38c69928-009e-11e5-9804-0554d8d97515.gif)

[2015-05-22 17:47] Wikunia commented on #56
That looks so strange :D
Thanks for the issue. I really can't explain this at the moment :/

[2015-05-22 18:15] Wikunia commented on #55
Should be "solved" and not "solving" :D

[2015-05-22 19:25] Wikunia commented on #55
It should work NOW :)
Would be nice if you can check it using the "Install from URL" option! Thanks again

[2015-05-22 19:25] #55 closed

[2015-05-23 11:05] adricorse commented on #55
Perfect ! I like it ! :)
Thanks again Wikunia ! Good luck for #56 ;)

[2015-05-24 14:30] Wikunia commented on #55
Haha yeah that one is challenging. I'll have a deep look later today.

[2015-05-25 15:07] Wikunia commented on #56
Would be nice if you can check `v0.8.23` (Install from URL)

[2015-05-25 15:42] adricorse commented on #56
Yes, it works !
But, I forgot to say, instead of "$var = b();" you put "b();" like :
[code]
there will be the same problem.. :(

[2015-05-25 15:44] Wikunia commented on #56
Ahh that was in my mind but I forgot to check it. I'm sorry

[2015-05-25 16:00] Wikunia commented on #56
Thanks for the issue and thanks for testing ;)
Can you try the newest `v.0.8.23` (no change in version :) )
Again via "Install from Url" Thanks!

[2015-05-25 16:14] adricorse commented on #56
Nice ! :)
But ... (sorry ...)
Same issue with functions php, like :
[code]
result, with only using the shortcut (work fine with /* ):
[code]

[2015-05-25 16:29] Wikunia commented on #56
I really hope it works now :D
thank you so much for all your issues and updates!

[2015-05-25 16:37] adricorse commented on #56
You forgot "switch" ;) (but it also work with "/*" and shotcut)
[code]

[2015-05-25 16:38] Wikunia commented on #56
Damn :D

[2015-05-25 16:42] Wikunia commented on #56
I've updated the list :)

[2015-05-25 16:48] adricorse commented on #56
Good Job !
It works fine ! :)

[2015-05-25 16:48] #56 closed

[2015-05-25 16:49] Wikunia commented on #56
Really that's it? No other bugs at the moment? :D
Thanks for your work, I really appreciated it!

[2015-05-25 16:59] adricorse commented on #56
Ahah, yeah, I haven't found other mistake :)

[2015-05-25 19:18] adricorse opened #57 "refresh comments with the shortcut"
Hello (Oh nooo ;) )
When you have already generate PHPDoc, take this exemple and you generate this :

[code]

The FuncDocr will generate this :

[code]

But, now, replace "true" with something else, like "$var" and you use shortcut to regenerate PHPDocs.
The PHPDoc is again "return boolean".

[code]

But if you start by "return $var" and end by "return true", the PHPDoc is correct.
Good luck ;)

[2015-05-25 19:31] Wikunia commented on #57
I'm sorry that one is normal. The reason is the following:
If you have the following code:

[code]
The return type will be `boolean`.
It isn't obvious that this change always returns a `boolean` as well:
[code]
If you update the code the `type` which was set will stay the same (for type and description), cause sometimes it isn't easily possible to determine the type, so I rely on the `type` which

[2015-05-25 19:49] adricorse commented on #57
But, ideally, boolean can be changed to [[Type]], no ?
Because if you replace your $bool = true by $bool = "ok"; (both $bool), return $bool is defined "boolean" again by your Doc

[2015-05-25 19:52] Wikunia commented on #57
Hmm yeah that one will be fine :)
I'll code that one in the next days.

[2015-06-15 09:48] sweakley23 opened #58 "Conflict with TODO by Mikael Jorhult"
Todo entries won't display with this installed.

[2015-06-15 14:38] Wikunia commented on #58
So this extension works but the to do ext stops working?

[2015-06-15 15:02] sweakley23 commented on #58
Correct. When you click on any of the todo's buttons like "FIX" nothing happens although occasionally the "TODO" list button would work temporarily. When I remove the FuncDocr extension, the TODO extension works again.

[2015-06-15 18:13] Wikunia commented on #58
Okay, I will have a look later this week. I have a lot of uni stuff at the moment :/ I'll watch the other issue as well.

[2015-06-19 12:48] cristidraghici opened #59 "PHP - Comma as default value in parameter"
When using FuncDocr on:
[code]
the following is generated:
[code]

It is rarely that a comma is given as a default value, so it isn't an important or annoying bug. However, I am just letting you know it's there.

Kind regards!

[2015-06-19 13:29] Wikunia commented on #59
Thanks for the issue! I'll try to have a look at the weekend, but it's quite full already :/

[2015-06-20 20:02] Wikunia commented on #57
Sorry don't know what you meant. Do you have an example for me?

[2015-06-24 00:09] KenRud opened #60 "Annotate with @return rather than @returns for the javascript Closure Compile"
I am writing my javascript code to be compiled against the Google Closure Compiler. The Closure Compiler is expecting me to annotate my functions' return value with "@return" rather than "@returns" (notice the pluralization). Is there anyway that I can configure this extension to automatically output the singular form rather than having to manually correct it every time?

[2015-06-24 00:11] KenRud commented on #60
Here is the Closure Compiler annotation specification for reference: https://developers.google.com/closure/compiler/docs/js-for-compiler

[2015-06-24 06:24] Wikunia commented on #60
At the moment it isn't that nice to overwrite :/
But you can change this line:
https://github.com/Wikunia/brackets-FuncDocr/blob/master/main.js#L490

[2015-06-24 21:05] KenRud commented on #60
Hmmm, maybe if it was added as a configuration option that was read from brackets.json? If you want, assuming I have time, maybe I can add that little feature and send a pull request.

[2015-06-30 11:50] Wikunia commented on #60
Yes it would be possible to add that to the settings menu.

[2015-07-01 08:15] Hirse commented on #60
Notice that `@returns` is not a pluralization but a conjugation as in

[2015-07-01 08:19] Hirse opened #61 "Don't remove existing tags on update"
The extension offers a wide range of tags as code hints which I sometimes use.
Unfortunately when I update the JsDoc of a function by using the keyboard shortcut all tags exept for the `@param` and `@returns` are removed again.

[2015-07-01 10:43] Wikunia commented on #61
Oh damn! I'll have a look

[2015-07-01 13:22] Wikunia commented on #61
@Hirse a test before registration would be nice. Thanks for the issue!

[2015-07-01 13:22] #61 closed

[2015-07-01 13:27] KenRud commented on #60
Minor mistake, thanks for the correction.

[2015-07-01 13:30] Hirse commented on #61
Yes, looks good so far. Thanks for the quick fix.

[2015-07-01 14:05] Wikunia commented on #59
Can you install the newest version via url, please?
Thanks!
Just close the issue if everything works well ;)

[2015-07-01 16:57] cristidraghici commented on #59
It worked great! Thank you :+1:

[2015-07-01 16:58] #59 closed

[2015-07-08 09:26] yuretz opened #62 "Adding extra jdoc tags"
Hello,
When I add extra jsdoc tags, for example  `@throws {Error} Will throw if something is wrong`,
the line sometimes gets indented wrong, so that `@throws` is aligned with previous annotation description text. It seems it only happen if previous annotation text was wrapped. Is there a way to avoid this behavior?
Right now I'm just manually re-indenting those lines, but it gets annoying pretty s

[2015-07-19 11:15] Wikunia commented on #62
Hey,

sorry for my late response :/ Can you provide a simple example?

[2015-07-19 18:28] yuretz commented on #62
Yes, sure.

Please see the image below:
![Indentation bug](http://i.imgur.com/vozhUz8.gif)

So, what happens in this case, is that I'm wrapping the long line by hitting 'Enter' and then trying to re-indent it by hitting 'Tab'.
Maybe there were some other cases, when it behaved similarly, but right now I can't remember.
FuncDocr 0.8.26, Brackets 1.3

[2015-07-22 14:37] Wikunia commented on #62
Hmm thanks, yeah I think I will need some time to solve it. Thanks for the issue and stay tuned!

[2015-07-29 09:20] Wikunia commented on #62
Hi @yuretz
this one is the new version which isn't good as well :/
![brackets-funcdocr- 62](https://cloud.githubusercontent.com/assets/4931746/8953986/d35d41de-35e2-11e5-9740-e2a17413be46.png)
The problem is that I have a maximum padding which aligns the descriptions but probably you would like to see something like this?
![brackets-funcdocr- 62-opt2](https://cloud.githubusercontent.com/assets/493

[2015-07-30 16:23] Wikunia commented on #62
Maybe you would like to test the newest version `0.8.27` (Install from url)

[2015-07-30 19:40] yuretz commented on #62
Hi Wikunia,
Thanks for your replies. I'll definitely try it tomorrow. Would I be able to install it directly from the repo url?

[2015-07-30 19:41] Wikunia commented on #62
Yes it is in the master branch

[2015-08-01 23:12] yuretz commented on #62
Hi again,

Thanks for the new version. It's really nice to see that small (but very useful) things like FuncDocr get their deal of support and attention!

I have tested the new version a little bit. It seems like it solves part of the issue, but not all of it. And you are probably right, this looks like a more complex general problem with manual editing of auto-generated comments.

When I add `@th

[2015-08-02 10:41] Wikunia commented on #62
Again version v0.8.27 ;) Would be great if you would install it from url!
Changes:
- The tags will be sorted now so `@throws` and `@this` will be shown at the top and not `@author`, when typing `@th` :D
- the wrong alignment on tabbing should be fixed now
- the cursor is aligned under `[[Description]]` and you include a `@` tag it will be on the most left side

Thanks for your support.
With the cu

[2015-08-04 06:58] yuretz commented on #62
Hi,
Thanks for the updated version. I'm testing it right now, and it looks good so far.
I agree that having documentation with explicit exception types is much better than without them. I personally always use it with the type.

[2015-08-04 07:02] Wikunia commented on #62
Okay and then it will look like `@throws {[[ExType]]} [[Description]]` and `ExType` can be filled if the syntax `throw new UserException("...");` is used right?

[2015-08-04 09:35] yuretz commented on #62
Exactly!

[2015-08-04 12:16] yuretz opened #63 "Named function expressions are not recognized"
If you try entering the following code
[code]
then, you will not be able to annotate the function `test()` automatically (neither keyboard shortcut, nor menu command works). But if you change the function to
[code]
then FuncDocr annotation works again.

Could the problem be in one of regular expressions?

Workaround for this issue is to wrap the declaration, so that ``test:`` part stays on its own

[2015-08-04 14:05] Wikunia commented on #63
Yeah actually I don't understand this redundant name strategy but I know it's supported so yeah I will try to edit by huge regex mess. :D

[2015-08-04 18:08] yuretz commented on #63
Thanks for your response.
Well, this redundancy looks a bit ugly, I agree.
But it could actually be useful for at least two things: recursion and readable stack traces, so I think it's a good thing to support anyway.

[2015-08-06 21:06] yuretz commented on #63
Hi again,
Well, it seems I found another case when those regexps are missing the function definition. Try annotating `docTest()` in the following code:
[code]

[2015-08-06 21:09] Wikunia commented on #63
I thought about the parser option as well. Absolutely no idea how to use them :D I have some spare time the next days so I'll have a look but I probably need to replace a lot of code :D

[2015-08-08 17:22] #63 closed

[2015-08-18 15:29] derwaldgeist opened #64 "Support for ES6 class methods"
At the moment, FuncDocr does not recognize ES6 constructors or class methods, which are not using the function keyword, like this:
[code]

It would be nice if this would be implemented as ES6 is becoming more and more popular, as many JS frameworks switch to it (either using Babel/Traceur or using it directly).

The full ES6 class syntax is explained here: http://www.2ality.com/2015/02/es6-classes

[2015-08-18 15:32] Wikunia commented on #64
the `constructor` function should work but I forgot the `static` thanks for the issue!

[2015-08-18 15:39] Wikunia commented on #64
Would be great if you can test the newest version using "Install from URL"
Danke!

[2015-09-11 14:22] punitagarwal4 opened #65 "query"
Hello,
nice extension, i want to know that, after commenting on code by this extension, how can i create/generate documentation files(e.g. HTML documentation files)
is there any other software to do that ?

[2015-09-11 14:43] Wikunia commented on #65
I don't use a software for it but you might wanna try:
https://jashkenas.github.io/docco/

[2015-09-12 09:00] punitagarwal4 commented on #65
Ok, can you please suggest, what should be used to make documentation, i am working as a developer, and it would be great if i can give good documentation to people who work under me and use functions and classes created by me. thanks for the help

[2015-09-12 09:07] Wikunia commented on #65
I am not a specialist in that. There was the idea to help people while coding to get the documentation inside brackets so I started to build https://github.com/Wikunia/brackets-QuickDocsJS The next step was to make it easier to create those documentation therefore I've coded this one. Let's assume your coworkers are using Brackets as well they might wanna use my QuickDocsJS extension to have acces

[2015-09-12 09:11] punitagarwal4 commented on #65
thanks :)

[2015-09-12 09:11] #65 closed

[2015-09-22 20:52] patrickfatrick opened #66 "Support for ES6 arrow functions (=>)"
Similar to https://github.com/Wikunia/brackets-FuncDocr/issues/64 but wanted to make a new issue for this.

https://babeljs.io/docs/learn-es2015/#arrows-and-lexical-this

Examples:

[code]

Thanks!

[2015-09-24 09:33] Wikunia commented on #66
Thanks for the issue! I'll work on that later today

[2015-09-25 22:02] #66 closed

[2015-09-25 22:02] Wikunia commented on #66
Would be great if you can install from url before I register the new version. Thanks ;)

[2015-09-25 22:19] patrickfatrick commented on #66
Thanks so much for looking at this so quickly. Examples 1 and 2 look great to me from a bit a of testing (I also noticed it works with let and const which is awesome); example 3, which is valid ES6 syntax to declare a function with no arguments, doesn't match. Here's some more information in case it's helpful! https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functi

[2015-09-25 22:28] Wikunia commented on #66
Now it should be fixed :D

[2015-09-30 17:23] #64 closed

[2015-09-30 17:25] Wikunia commented on #58
I think it works now. Would be great if you can update to the newest version and close this issue if everything works as expected.

[2015-10-01 19:11] derwaldgeist commented on #64
Thanks for this update. Unfortunately, I am not using Brackets anymore - I've switched to Atom in the meantime.

[2015-10-13 10:24] tushariscoolster opened #67 "Not working after update"
after update, if function dont have a params it dont work,
for example
[code]

[2015-10-13 16:08] Wikunia commented on #67
hi @tushariscoolster thanks for the issue, I will work on that one.

[2015-10-13 16:11] #67 closed

[2015-10-15 15:09] vinegarZombie opened #68 "Brackets freezes on certain code"
I have a small bit of code in my JS file such as:
[code]
If I do ctrl+alt+D or /** brackets completely freezes , and the process has to be killed with task manager
I am also not sure if this is related but if I want to enter a comment above the function ctrl+alt+D works fine but /** displays the proper code for a second and then removes itself.
This seams to be a issues since the latest update

[2015-10-15 15:13] Wikunia commented on #68
The provided example is no function but yeah it should freeze but in my instance it doesn't.

[2015-10-15 15:16] Wikunia commented on #68
Do you have any logs for the second part of the issue?

[2015-10-15 15:23] vinegarZombie commented on #68
I also tried
[code]
and it freeze as well . When I finally did a proper function it was all ok.
I also notice that after I removed that chunk of code completely, the /** started to work properly. If you direct me to how to get the logs I can send them over

[2015-10-15 15:24] Wikunia commented on #68
Oh yeah sure. `Debug -> Show Dev Tools` or on Linux,Windows (F12)

[2015-10-15 15:25] Wikunia commented on #68
Okay which version of Brackets do you use?

[2015-10-15 15:26] vinegarZombie commented on #68
Release 1.4 build 1.4.0-16380 (release 273804eb3)
build timestamp: Mon Jul 27 2015 07:23:52 GMT+0100

[2015-10-15 15:30] Wikunia commented on #68
Hmm that is strange it works on my machine with 1.5 and I checked your release as well. Hope there are some logs ;)

[2015-10-15 15:40] Wikunia commented on #68
Does sth like:
[code]
work like in #67 ? Or does every function doesn't work properly?

[2015-10-15 15:41] vinegarZombie commented on #68
I have lots of things going on in the console , don't really know which is relevant. I can see that I get
 sigKeys:  ["indentation", "parameters", "returns", "throws", "description", getUnique: function, getCol: function] whenever its successful, I also noticed , that it unfreeze after around 1.30 - 2min but nothing is really displayed in the console.
![screenshot 2015-10-15 16 39 04](https://clou

[2015-10-15 15:44] vinegarZombie commented on #68
[code]

[2015-10-15 15:44] Wikunia commented on #68
It's fine and reminds me that I have to remove the normal logs next time :D
Can you move all your other extensions (you can go to the extension folder using: `Help -> Show Extension Folder`) to the folder disabled? (one folder above)

[2015-10-15 15:58] vinegarZombie commented on #68
I just move everything from the user to disabled yes ?

[2015-10-15 15:59] Wikunia commented on #68
Yeah but not my extension ;) Then you have to reload brackets and hopefully the error disappears. Then we can check your extensions ;)

[2015-10-15 16:06] vinegarZombie commented on #68
![screenshot 2015-10-15 17 02 39](https://cloud.githubusercontent.com/assets/8158118/10519659/904f3456-735e-11e5-9bb2-656b03413711.png)
I moved everything other then FuncDocr to disabled , but it work the same around to min frozen and then its ok console is not showing nothing when that happens

[2015-10-15 16:11] Wikunia commented on #68
Hmm and which version of FuncDocr worked for you?

[2015-10-15 16:13] vinegarZombie commented on #68
![screenshot 2015-10-15 17 11 40](https://cloud.githubusercontent.com/assets/8158118/10519929/d98cfaf8-735f-11e5-9f65-9bc73375110e.png)
I am not sure which was the previous version , I normally keep everything up to date but I saw a update , so I clicked that was on Tuesday

[2015-10-15 16:17] Wikunia commented on #68
Wow that doesn't make any sense to me :/ There was a really small change from v0.8.30 to v0.8.31

[2015-10-15 16:20] vinegarZombie commented on #68
I must say it is bizarre. Maybe it was there before but I never commented that code , now I am not sure myself. Does it do anything on your side, or just doesn't generate the comment ?

[2015-10-15 16:25] Wikunia commented on #68
[code]

Doesn't generate any comments but doesn't brake but well for me it's correct because it's not a function right?

[2015-10-15 16:44] vinegarZombie commented on #68
Yes absolutely , they are not functions. To make things more interesting , I checked it on my home machine and nothing like this happens. It seams that its only a issues on my work laptop. Don't know how much difference it makes but my work laptop is win 8 and home machine win 7.

[2015-10-15 16:46] Wikunia commented on #68
"Unfortunately" I have Linux ;) Okay I'll add some logs and then you can install from url. Stay tuned!

[2015-10-15 16:53] Wikunia commented on #68
Thanks for testing!

[2015-10-15 18:46] vinegarZombie commented on #68
No problems , thanks for a great plugin :)

[2015-10-15 18:55] Wikunia commented on #68
Can you send me the new logs please :)

[2015-10-16 09:04] vinegarZombie commented on #68
I think I have it. I made a small file 29 lines with some code , and I couldn't see the code freezing. I did notice that the 'code:' section displays the entire file so 29 lines of code. The previous code where the freezing happens is over 300 lines and 'that' code is on the top of the file so the entire 300 lines are being parsed
![screenshot 2015-10-16 09 46 33](https://cloud.githubusercontent.c

[2015-10-16 09:59] Wikunia commented on #68
Oh okay, thanks. Now I can reproduce the error, at the moment I have no idea why this happens, but yeah I'll work on it!

[2015-10-16 10:46] Wikunia commented on #68
I hope I have good news for you @vinegarZombie  ;) Would be great if you can install the bugfix via url.
Just close the issue, if everything works, then I'll register the new version. Thanks for your issue and help again!

[2015-10-16 11:11] vinegarZombie commented on #68
@Wikunia I can confirm that it does fix the problem :) just in the console I saw that brackets isn't fully happy with  the regexp , but nothing bad is happening.
![screenshot 2015-10-16 12 08 05](https://cloud.githubusercontent.com/assets/8158118/10540346/083babca-73ff-11e5-96d7-3ba61a210b06.png)

[2015-10-16 11:11] #68 closed

[2015-10-16 11:13] Wikunia commented on #68
Well it's just a long long regexp which I printed out :D I'm so sorry that I use regexes for this kind of stuff, but there is no good parser which supports JS and PHP :(

[2015-10-16 11:36] vinegarZombie commented on #68
Nah its nothing, As long as it works :) :+1:

[2015-10-19 00:17] stowball opened #69 "Running FuncDocr shouldn't instantly save the document"
As soon as FuncDocr is run, it saves the file. It shouldn't

[2015-10-19 00:19] stowball opened #70 "Support exported functions"
FuncDocr doesn't work on `export`ed functions such as the code below, unless you first remove the `export default`.

[code]

[2015-10-19 11:06] Wikunia commented on #70
Hi @stowball can you give me some more information about this structure?
Never had function declarations like this one, so is it only working with `export default` or is possible to just use `export` and is it possible to use `private export default function` or some stuff like this?
I'm sorry at the moment this extension uses regexes and not a parser (see more details in the readme) :/

[2015-10-19 23:00] stowball commented on #70
It's the syntax for using ES6/Require modules http://www.2ality.com/2014/09/es6-modules-final.html

[2015-10-20 07:33] #70 closed

[2015-10-20 07:35] Wikunia commented on #70
Would be great if you can test this via url. Then I will register it afterwards!
Thanks for the issue!

[2015-10-20 22:59] stowball commented on #70
Love your work

[2015-10-21 16:10] #69 closed

[2015-11-09 07:06] nguyentuandat opened #71 "Add @author with array of authors, please"
Can you add @author with array of authors name like 'John', 'Oliver',... and user can choose one when use this?

[2015-11-09 11:10] Wikunia commented on #71
You mean an array inside the settings panel?

[2015-11-10 01:30] nguyentuandat commented on #71
yeah :+1:

[2015-11-10 07:47] Wikunia commented on #71
The normal behavior is to include only you as the author because therefore you can add your name to the function.

[2015-11-10 10:04] nguyentuandat commented on #71
So, how can it auto add @author when i type /** and Enter?

[2015-11-10 10:36] Wikunia commented on #71
Interesting idea, but that has nothing to do with an array of authors, right?

[2015-11-10 10:47] nguyentuandat commented on #71
That right. But if it can auto generate @author and "Author name", it'll awesome.
Ex:
@author:  Wikunia

Thanks for your supported :)

[2015-11-10 10:48] Wikunia commented on #71
I'll work on that in the next days. Thanks for the idea!

[2015-11-10 15:10] Wikunia commented on #71
Hi @nguyentuandat would be great if you can check the new version ;)
(Install from Url)
I'll register the new version if everything works fine. Thanks again!

[2015-11-10 17:14] nguyentuandat commented on #71
Thank you so much. It work. But in case the user turn off auto add @author tag, type @autho... enter :)
![Bug](http://oorts.info/FuncDocr_bug.png)
Here is @author [[Author]] but on setting panel is [[Name]]

[2015-11-10 20:37] #71 closed

[2015-11-10 20:40] Wikunia commented on #71
Unfortunately you need to use `Ctrl-Space` to see the hint (sometimes). Don't know why this happens. I clarified the term inside the settings panel.

[2015-11-17 12:31] Hirse opened #72 "Lowercase types in JS"
Currently the type hints in JS show all options as Titlecase.
Base on the [JSDoc type documentation](http://usejsdoc.org/tags-type.html), I would think it would be more appropriate to have the primitive types as all lowercase.
That means
"number", "string", "boolean", "object", and "function"

[2015-11-17 13:10] Wikunia commented on #72
Thanks @Hirse . You can create a PR, if you want or I will implement it the next days!

[2015-11-18 08:51] #72 closed

[2015-11-22 15:48] Klustre commented on #58
Works fine for me…

Brackets Release 1.5 build 1.5.0-16538 (release cf9cf4698)
FuncDocr 0.8.35
Todo 0.8.1

[2015-11-22 21:31] #58 closed

[2015-11-27 14:07] petetnt opened #74 "Greedy backspace behavior"
I really like the extension, but something (that's mostly because of code writing habits) I run often with is the greedy backspace behavior.

Consider something like this:

1. You have something you want to annotate

[code]

2. You go above the thing and create new annotation block (with CTRL+ALT+D or inserting `/**` and pressing enter. `[[Description]]` is selected.

[code]
3. I press backspace a

[2015-11-27 15:45] Wikunia commented on #74
Thanks for the issue.
So there are two different issues, right?
1. The backspace on `[[TAGS]]`
2. removing something and the entire line is removed?

Actually the second issue doesn't happen on my machine.
[code]
where `I` should be the cursor. ;)

backspace ->
[code]

[2015-11-27 15:48] petetnt commented on #74
Sorry I explained that bit badly, I meant backspacing through the whole line, I just meant it as other case where deleting things can accidentally lead to removing the whole line, when you just wanted to start the line from scratch

[2015-11-27 15:50] Wikunia commented on #74
Ah okay thanks! Yeah I have that problem as well, but now I'll fix that! Thanks again and have a nice weekend @petetnt

[2015-11-27 16:00] petetnt commented on #74
Awesome! Thanks Wikunia ja have a nice weekend too! :beers:

[2015-11-28 08:57] Wikunia commented on #74
Maybe you wanna try "Install from Url" before I register the new version ;)

[2015-11-29 09:26] petetnt commented on #74
@Wikunia installed from the repo and the fix is just what I wanted :+1:

[2015-11-29 09:39] #74 closed

[2015-12-03 01:51] dougalg opened #75 "How do I install this?"
See title

[2015-12-03 02:12] #75 closed

[2015-12-03 02:12] dougalg commented on #75
File -> extension manager

[2015-12-17 22:02] stowball commented on #60
It seems that everything else uses `@return` instead of `@returns`: http://www.phpdoc.org/docs/latest/references/phpdoc/tags/return.html, https://github.com/Warin/Sublime/tree/master/DocBlockr, https://github.com/spadgos/sublime-jsdocs

My Sublime-using colleagues keep whinging at me

[2015-12-18 06:13] stowball opened #76 "Use consistent indentation"
To make contributing easier, please can you normalise the whitespace used for indentation?

The are 4578 instances of tabs, and 2996 instances of 4 spaces

[2015-12-18 07:43] #76 closed

[2016-01-12 04:53] stowball opened #78 "Support ES6 Default Parameters"
In ES6, you can specify default parameters for functions as described here: https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/default_parameters

Sublime and DocBlockr support them well. For example:

[code]

whereas, FuncDocr for the same will produce:

[code]

Default parameters can also be arrays, functions and more, but I haven't had a need for anything else yet so can't

[2016-01-12 17:43] Wikunia commented on #78
Okay, never ever used it :D I'll have a look! Thanks for the issue ;)

[2016-01-23 16:34] arctwelve opened #79 "/* triggers a JSDoc comment block instead of /**"
The extension uses  `/** + Enter` to trigger the comment block at the beginning of a function.

That works, but it will also recognize `/* + Enter`  (one asterisk). That prevents the user from adding general comments instead of JSDoc ones.

[2016-01-23 17:02] #79 closed

[2016-01-23 17:43] arctwelve commented on #79
@Wikunia Wow, awesome. That was fast!

[2016-01-23 17:44] Wikunia commented on #79
well and easy :D

[2016-01-23 17:58] arctwelve commented on #79
Just thinking...maybe instead of `/* + enter` doing nothing,  `/* + enter` created a general comment block. So `/* + enter` creates:
[code]
with `[[Description]]` highlighted to edit. General comments would only have `[[Description]]` and the shortcut would work anywhere inside a js file (i.e., inside or outside a function).

The extension would now completely take care of all block comments: JSDo

[2016-01-23 18:04] Wikunia commented on #79
There is an extension for general comments.
https://github.com/peterflynn/reasonable-comments

[2016-01-30 11:50] kosinaz opened #80 "Default value setting has to be the first line"
I don't really know if this is a real issue, but as I see, if there is any code before the default value setting, the value won't appear in the comments. This can be very annoying in strict mode.

Working version:
[code]

Current result:
[code]

Expected result:
[code]

[2016-01-30 12:08] kosinaz opened #81 "Default value setting has to be single line"
Based on acknowledged style guides it is good practice to always follow a conditional or iteration statement with a block statement, even when said block would contain only a single statement. But doing so in the default value setting prevents the value to appear in the comments.

Working version:
[code]

Current result:
[code]

Expected result:
[code]

[2016-01-30 18:55] #81 closed

[2016-01-30 18:55] #80 closed

[2016-01-30 20:25] kosinaz commented on #80
Impressive response speed! And now this part works perfectly! Thank you!

[2016-01-30 20:36] kosinaz commented on #81
Almost perfect, but sadly there is still an issue with multiple default values.

Working version:
[code]

Current result:
[code]

Expected result:
[code]

[2016-03-03 13:05] Hirse opened #82 "@private tag"
Could you add support for the `@private` tag?

1. Format existing JSDoc with has a `@private` tag.
2. Add a `@private` tag if the function name starts with an underscore.

[2016-03-03 13:19] Wikunia commented on #82
I am not using Brackets that often anymore so it will take a bit longer. But I will work on it. Thanks for the request.

[2016-03-16 18:56] ekatzenstein commented on #82
@Wikunia , what are you using these days instead of Brackets?

[2016-03-16 19:13] Wikunia commented on #82
Mostly Webstorm which isn't open source, unfortunately.

[2016-03-30 12:08] Wikunia commented on #82
Again thanks for your issue! Would be great if you can update to the new version.
The version isn't registered yet, but you can easily update using `Install from URL`.
If everything works fine, I'll register the new version asap.
Have an nice day!

[2016-03-30 12:08] #82 closed

[2016-03-30 13:31] Hirse commented on #82
For a function like `Object.prototype.get = function` I am getting the following error:

in [main.js line 601](https://github.com/Wikunia/brackets-FuncDocr/blob/master/main.js#L601) because `signatureObj.funcName` is undefined.

[2016-03-30 14:41] Wikunia commented on #82
I'm sorry, I missed something... Hope it works now ;)

[2016-03-30 14:56] Hirse commented on #82
Yes, looks good now. Thanks.

[2016-04-24 09:30] Antoine-Pous opened #83 "@since tag"
Hi,

can you add @since tag ?

Thank you.

[2016-04-30 11:27] petetnt opened #84 "Support generator function auto-completition"
Basically all that needs to be done is to accept asterixes after the "function" keyword.

Current behavior:
[code]

REF: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/function*

Thanks once again for this great extension!

[2016-05-04 12:29] Wikunia commented on #84
Would be great if you can install from url and test it a bit and then close this issue. Afterwards I will register the new version!
Thanks for the request. Have a nice day!

[2016-05-04 12:31] Wikunia commented on #83
The tag is supported in the sense that there is auto completion for it. (For JavaScript)
Can you specify what you mean? Or should I just add it to PHP?

[2016-05-04 16:41] petetnt commented on #84
Works great, thanks @Wikunia! :+1:

[2016-05-04 16:41] #84 closed

[2016-05-23 09:21] Anima-t3d opened #85 "Named function expression with the key being a string is not recognized"
A named expression with the key being a string is not recognised.
See `'hello2'`
[code]

[2016-05-24 13:34] Wikunia commented on #85
I never saw that before. Why do you ever need this? :D

[2016-05-25 06:39] Anima-t3d commented on #85
You would need it when the key contains `.` or `-`

[2016-05-25 11:27] Wikunia commented on #85
They aren't allowed as variable names!
You can check whether it's allowed or not here: https://mothereff.in/js-variables

[2016-05-26 02:24] Anima-t3d commented on #85
I wasn't referring to variable name. I was referring to _JavaScript property names_  and they are allowed see [https://mothereff.in/js-properties](https://mothereff.in/js-properties#foo-bar) but: **You need to quote this property name**

I hope that is more clear?

[2016-06-10 07:39] Anima-t3d commented on #85
@Wikunia can you please include this? It is often used in js when writing [Meteor.methods](http://guide.meteor.com/methods.html) in Meteor.

Example in ES6:
[code]
Thanks.

[2016-06-10 09:28] Wikunia commented on #85
Unfortunately that `'` stuff isn't the only problem here :/
Don't have much time to work on that one. At the moment the extension works using regular expressions (see readme) and it would be best to have a real parser for that. But at the moment my time is limited as well as the financial support. I'm sorry for that one :(
The problem at your example is that ES6 isn't really supported in my extens

[2016-06-10 12:38] Anima-t3d commented on #85
I noticed the usage of regular expressions. I am mainly interested in the support for `'` and can completely understand you not being able to support the quirky stuff ES6 brings. I just showed the example on the official guide, which happens to use ES6.

Your efforts are very much appreciated! Thanks!

[2016-12-19 20:39] ficristo opened #87 "Autocomplete for javascript @constructor"
It seems it is missing

[2016-12-19 20:40] ficristo opened #88 "Spurious logs"
There are some spurious log on the console:
`Uncaught TypeError: tagDef.replace is not a function`
`throw throws`
and a regex

[2016-12-24 00:47] Wikunia commented on #88
What do you do to get the `Uncaught TypeError: tagDef.replace is not a function` error?
I don't see that one. Thanks for the issue.

[2016-12-24 07:55] ficristo commented on #88
It seems is related to the `@constructor` js annotation. Using the `tab` keyword to go to `{[[Type]]}` it throws the exception above.
[code]

[2016-12-26 08:04] Wikunia commented on #88
Should work now! Thanks again :)

[2016-12-27 17:10] ficristo commented on #88
In the last commit some `console.log` went in the tree.

[2017-03-11 12:37] gbevan opened #89 "Install fails on brackets-electron"
Using Brackets Extension manager, install fails with this log:
![selection_001](https://cloud.githubusercontent.com/assets/6442555/23823298/7fbcd214-0657-11e7-806a-556c231ec7b4.jpg)
Version of brackets is 1.9.4

[2017-03-11 13:02] gbevan commented on #89
Looks like this is actually a brackets-electron issue.  Some other extensions report failure on install.

Restarting brackets after the failed install actually shows the extensions working fine.  Feel free to close this issue.

[2017-03-17 16:04] #89 closed

[2017-06-09 17:56] loup-brun opened #90 "Not working in Brackets 1.9"
Typing `/**` + enter does not work. Accessing the command through the menu (Edit > funcdocr) does not work either, nor does its associated hotkey.

No errors outputed in Brackets console.

Issue occurs both in js and php files.

Using `Brackets version 1.9 edition 1.9.0-17312 (release 189f6d39a)`

[2017-07-09 03:16] Wikunia commented on #90
Sorry for the late reply. I'm currently on vacation and will have a look in about two weeks.

[2017-07-13 01:42] Wikunia commented on #62
Hi @yuretz ,
It's 2017 now and wow just read our small conversation again. Looks like I can close this issue, right?
Otherwise just reopen it! ;)

[2017-07-13 01:42] #62 closed

[2017-07-13 01:43] #87 closed

[2017-07-13 21:20] yuretz commented on #62
Sure, thank you!

[2017-07-20 17:47] Wikunia commented on #90
Do you have any console logs for it (F12 or Debug -> Show Developer Tools) ?
It works for me on 1.10.

[2017-07-21 17:19] loup-brun commented on #90
Well I've updated to Brackets 1.10 and it works! Thanks!

[2017-07-21 17:19] #90 closed

[2017-08-14 09:31] aurerua opened #91 "Add support for Typescript files"
For Typescript files it is not working. Yet if I change the file type to JavaScript then it kind of works

It does not copy the type at the right place but that would still be okay for me. So is there an easy way to enable the extension for Typescript files?

[2017-08-14 09:46] Wikunia commented on #91
Hi @aurerua can you install via url and test this untested version? (I don't use typescript atm)

[2017-10-29 01:15] #88 closed

[2017-10-29 01:16] #57 closed